{% for value, option in field_type.options %}
    {% if option is iterable %}
    {% else %}
        <label class="control-label">{{ trans(option) }} {{ trans('visiosoft.field_type.dropbox::input.limit') }}
            <span class="required">*</span>
        </label>
        <div class="field-group col-sm-24 price">
            <div class="row">
                <div class="col-sm">
                    <div class="form-group price-field integer-field_type">
                        <label class="control-label">{{ trans('visiosoft.field_type.dropbox::input.create_ad_limit') }}
                            <span class="required">*</span>
                        </label>
                        <div class="input-wrapper">
                            <input type="number" value="{{ setting_value('visiosoft.module.advs::default_adv_limit') }}"
                                   min="1" max=""
                                   name="adlimit{{ value }}" step="1" placeholder=""
                                   class="form-control" data-field="adLimit"
                                   data-field_name="cat{{ value }}" required data-provides="anomaly.field_type.integer"
                                   onhover="(function (e) {e.preventDefault();})(event);">
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group price-field integer-field_type">
                        <label class="control-label">{{ trans('visiosoft.field_type.dropbox::input.ad_publish_time') }}
                            <span class="required">*</span>
                        </label>
                        <div class="input-wrapper">
                            <input type="number"
                                   value="{{ setting_value('visiosoft.module.advs::default_published_time') }}"
                                   min="{{ setting_value('visiosoft.module.advs::default_published_time') }}" max=""
                                   name="time{{ value }}" step="1" placeholder=""
                                   class="form-control" data-field="timeLimit"
                                   data-field_name="cat{{ value }}" required data-provides="anomaly.field_type.integer"
                                   onhover="(function (e) {e.preventDefault();})(event);">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}