{% for value, option in field_type.options %}
    <label class="control-label">{{ trans( option['name'] ? option['name'] : option) }} {{ trans('visiosoft.field_type.dropbox::input.limit') }}
        <span class="required">*</span>
    </label>
    <div class="field-group col-sm-24 price">
        <div class="row">
            <div class="col-sm">
                <div class="form-group price-field integer-field_type">
                    <label class="control-label">{{ trans('visiosoft.field_type.dropbox::input.create_ad_limit') }}
                        <span class="required">*</span>
                    </label>
                    <div class="input-wrapper">
                        <input type="number" min="1" max="" name="adlimit{{ value }}" step="1" placeholder="" required
                               value="{{ option['ad_limit'] ? option['ad_limit'] : setting_value('visiosoft.module.packages::default_adv_limit') }}"
                               class="form-control" data-field="adLimit"
                               data-field_name="cat{{ value }}" data-provides="anomaly.field_type.integer"
                               onhover="(function (e) {e.preventDefault();})(event);">
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="form-group price-field integer-field_type">
                    <label class="control-label">{{ trans('visiosoft.field_type.dropbox::input.ad_publish_time') }}
                        <span class="required">*</span>
                    </label>
                    <div class="input-wrapper">
                        <input type="number"
                               value="{{ option['time_limit'] ? option['time_limit'] : setting_value('visiosoft.module.advs::default_published_time') }}"
                               min="{{ setting_value('visiosoft.module.advs::default_published_time') }}" max=""
                               name="time{{ value }}" step="1" placeholder="" class="form-control" required
                               data-field="timeLimit" data-field_name="cat{{ value }}"
                               data-provides="anomaly.field_type.integer"
                               onhover="(function (e) {e.preventDefault();})(event);">
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="form-group commission-field decimal-field_type">
                    <label class="control-label">{{ trans('visiosoft.field_type.dropbox::input.commission') }}
                        <span class="required">*</span>
                    </label>
                    <div class="input-wrapper">
                        <input type="number" data-decimals="2"
                               value="{{ option['commission'] ? option['commission'] : setting_value('visiosoft.module.packages::default_commission') }}"
                               min="0" max="100" name="commission{{ value }}" step="any" placeholder="" class="form-control"
                               required data-field="commission" data-field_name="cat{{ value }}"
                               data-provides="anomaly.field_type.decimal"
                               onhover="(function (e) {e.preventDefault();})(event);">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}